services:
  db:
    image: timescale/timescaledb:latest-pg16
    container_name: infrapass-timescaledb
    restart: unless-stopped

    ports:
      - "5435:5432"

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TIMESCALEDB_TELEMETRY: "off"

    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
